{% extends "layout.twig" %}

{% block content %}
    <h1>Ошибка - 404!</h1>
    <p>Упс! Данной страницы не существует! Попробуйте начать ваш пусть с <a href="/">главной страницы сайта</a></p>
{% endblock %}