{% extends "layout.twig" %}

{% block content %}

    <h1>Портфолио</h1>
    <div class="row">

    {% for row in data %}
        <div class="col-md-4">
            <h2>{{ row.name }}</h2>
            <p>{{ row.year }}</p>
            <p>{{ row.description }}</p>
            <p><a class="btn btn-default" href="{{ row.site }}" role="button">Посмотреть »</a></p>
        </div>
    {% endfor %}

    </div>


{% endblock %}